<!-- Основной блок слайдера -->
<div class="slider">

    <link href="../../Static/CSS/slider.css" rel="stylesheet" type="text/css">
    <!-- Первый слайд -->
    <div class="item">
        <img src="https://avatanplus.com/files/resources/mid/583b05635a112158a68d0c29.jpg">
    </div>

    <!-- Второй слайд -->
    <div class="item">
        <img src="https://besthqwallpapers.com/Uploads/3-5-2020/131339/thumb-saint-isaacs-cathedral-isaakievskiy-sobor-saint-petersburg-cathedral-evening.jpg" ondrag="">
    </div>

    <!-- Третий слайд -->
    <div class="item">
        <img src="https://avatars.mds.yandex.net/i?id=4f7dabe589b1d3a082afe518d92742ab-4079503-images-thumbs&n=13&exp=1">
    </div>

    <!-- Кнопки-стрелочки -->
    <a class="previous" onclick="previousSlide()">&#10094;</a>
    <a class="next" onclick="nextSlide()">&#10095;</a>
    <script type="text/javascript" src="../../Static/JS/slider.js"></script>

</div>